.home{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  .container{
    max-width:1200px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    .home-header{
      font-size:60px;
      text-transform:uppercase;
    }
    .buttons-container{
      display:flex;
      justify-content:center;
      align-items:center;
      div.add-todo,div.view-todos{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin:25px;
        a{
          text-decoration:none;
          margin:10px;
        }
        .add-todo-button,.todo-list-button{
          font-size:35px;
          text-transform:uppercase;
          color:black;
        }
        .lnr{
          font-size:60px;
          cursor:pointer;
        }
        .lnr-menu{
          color:blue;
        }
        .lnr-plus-circle{
          color:green;
          margin:10px;
        }
      }
    }
  }
}